<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: common_header(~{::title},~{::body})">
    <meta charset="utf-8">
    <link th:herf="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>메인 화면</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-primary float-end" type="submit">
            로그아웃
        </button>
    </form>
</div>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>사용자 정보</h2>
    </div>
    <div class="col" th:object="${user}">
        <h3 th:text="*{name}" th:field="*{name}"></h3>
    </div>
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/post/save}'|" type="button">
                    게시글 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>시간</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a href="savePost.html" th:text="${post.title}"
                       th:href="@{/post/{itemId}(itemId=${post.id})}">
                    제목</a>
                </td>
                <td><a href="savePost.html" th:href="@{/users(userName=${post.userName})}"
                       th:text="${post.userName}">
                    작성자</a>
                </td>
                <td th:text="${post.writeDate}">00:00:00</td>
                <td>
                    <button
                            th:if="${user.name == post.userName}"
                            th:onclick="|location.href='@{/post/{postId}/edit(postId=${post.id})}'|"
                            >
                        수정
                    </button>
                    <button
                            th:if="${user.name == post.userName}"
                            th:onclick="|location.href='@{/post/{postId}/remove(postId=${post.id})}'|">
                        삭제
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>