<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpringNoticeBoard.NoticeBoard.repository.mybatis.PostMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into post(write_date, modify_date, user_name, title, main_text)
        values(#{writeDate}, #{modifyDate}, #{userName}, #{title}, #{mainText})
    </insert>

    <select id="findById" resultType="Post">
        select id, write_date, modify_date, user_name, title, main_text
        from post
        where id = #{id}
    </select>

    <select id="findAllByUser" resultType="Post">
        select id, write_date, modify_date, user_name, title, main_text
        from post
        where user_name = #{userName}
    </select>

    <update id="editPost">
        update post
        set title = #{dto.title}
            main_text = #{dto.mainText}
            modify_date = #{modifyDate}
        where id = #{id}
    </update>

    <delete id="removePost">
        delete from post
        where id = #{id}
    </delete>

</mapper>